<section id="functions">
    <div class="container">
        <h3>Functions</h3>
        <h5>A collection of functions I have personally developed to overcome situations I have encountered.</h5>
        <div class="panel panel-default">
            <div class="panel-body">
                <hr />
                <h5>
                    <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/ConvertTo-ShortPath">ConvertTo-ShortPath</a></strong>
                    - Converts each element of a file object path to the 8.3 path and return the short path string.
                </h5>
                <h5>
                    <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Find-NthIndexOf">Find-NthIndexOf</a></strong>
                    - Finds the nth index of a char in a string, returns -1 if the char does not exist, or if nth is out of range.
                </h5>
                <h5>
                    <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Get-ADComputerSiteName">Get-ADComputerSiteName</a></strong>
                    - Queries DNS to get the computers IPAddress then, returns the ADSiteName base on AD Sites and Services.
                </h5>
                <h5>
                    <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Get-ItemExtendedAttribute">Get-ItemExtendedAttribute</a></strong>
                    - Get extended item metadeta attribute value from an item using COM and referenced by attribute number.
                </h5>
                <h5>
                    <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Get-MsiPropertyValue">Get-MsiPropertyValue</a></strong>
                    - Opens a Windows Installer Database (.msi) and queries for the specified property value.
                </h5>
                <h5>
                    <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Get-ProgramUninstallString">Get-ProgramUninstallString</a></strong>
                    - Gets the uninstall string for a program, can be filtered to a key word of the programs display name.
                </h5>
                <h5>
                    <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/New-ADUserName">Get-ADUserName</a></strong>
                    - Create a new username with the following order until a unique Username is found. <br />
                    1. First Initial Last Name. <br />
                    2. First Initial First Middle Initial Last Name. <br />
                    3. Iterates First Name adding each Char until a unique Username is found. <br />
                </h5>
                <h5>
                    <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/New-NetStaticIPAddress">New-NetStaticIPAddress</a></strong>
                    - Removes the current NetIPAddress and NetRoute on a given NetAdapter.  Sets a new Static NetIPAddress and adds DNS Server values if provided.
                </h5>
                <h5>
                    <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Test-Credential">Test-Credential</a></strong>
                    - Simulates an Authentication Request in a Domain envrionment using a PSCredential Object. Returns $true if both Username and Password pair are valid.
                </h5>
            </div>
        </div>
    </div>
</section>
