<section id="functions">
<div class="container">
  <h3>Functions</h3>
  <h5>A collection of functions I have personally developed to overcome situations I have encountered.</h5>
  <div class="panel panel-default">
    <div class="panel-body">
        <hr />
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/ConvertTo-ShortPath">ConvertTo-ShortPath</a></strong>
        - Converts a file or folder path to the MS DOS 8.3 short path equivilent.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://gallery.technet.microsoft.com/Export-AclToCsv-918f8912">Export-AclToCsv</a></strong>
        - Exports the Acl Object for files and or folders to an easy readable csv, helps to 'show' what the permission hiearchy truly is.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://gallery.technet.microsoft.com/Get-ADObjectWithLinkedGPO-272f7724">Get-ADObjectWithLinkedGPO</a></strong>
        - Gets all objects through out a domain that have a particular Group Policy Object applied to it. This can be filtered to return Computers, Group, or Users Objects only.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://gallery.technet.microsoft.com/Get-LastLoggedOnUser-4ebb88bb">Get-LastLoggedOnUser</a></strong>
        - Returns a PSCustomObject of the last logged on user or currently logged on user from an accessable workstation.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://gallery.technet.microsoft.com/Get-SqlEdition-09262feb">Get-SqlEdition</a></strong>
        - Returns all instance and edition types of SQL from a machine.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://gallery.technet.microsoft.com/Get-UnEncryptedWorkstations-c4837ba0">Get-UnEncryptedWorkstationsFromCMDB</a></strong>
        - Returns a collection of CIs that are not encrypted from the Microsoft System Center Configuration Manager database.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://gallery.technet.microsoft.com/Remotly-execute-Sophos-9a0de908">Invoke-SophosReinit</a></strong>
        - Used to remotly execute the Sophos Reinit, namely to point clients to a Managment Server.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Test-Credential">Test-Credential</a></strong>
        - Returns a bool repsentation of a PSCredential objects validity.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://gallery.technet.microsoft.com/Update-NetworkPrinterServer-36015362">Update-NetworkPrinterServerConnection</a></strong>
        - Updates the Print Server connection info of network printer mappings.  Useful when replaceing print servers.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Get-ADComputerSiteName">Get-ADComputerSiteName</a></strong>
        - Gets the AD Site name associated to a computer.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/New-Username">New-Username</a></strong>
        - Creates a new Active Directory based user name.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Get-MsiProductCode">Get-MsiProductCode</a></strong>
        - Opens a Windows Installer Database (.msi) and querys for the product code.
    </h5>
    <h5>
        <i class="fa fa-terminal"></i>&nbsp;&nbsp;<strong><a href="https://www.powershellgallery.com/packages/Get-DnsConfiguration">Get-DnsConfiguration</a></strong>
        - Retrives primary, secondary, tertiery DNS Servers from on online system using Windows Management Instrimentation.
    </h5>
    </div>
  </div>
</div>
</section>
