<section id="scripts">
<div class="container">
  <h3>Scripts</h3>
  <h5>Custom automation scripts that I have personally developed to automate repetitive tasks.</h5>
  <div class="panel panel-default">
    <div class="panel-body">
        <hr />
		<h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://gist.github.com/dotps1/492023ebd737f9cc46aa">SCCM Java Application</a></strong>
            - Downloads the latest Java installers, extracts them and creates an Application in Microsoft System Center Configuration Manager.
		</h5>
        <h5>
			<i class="fa fa-github"></i>&nbsp;&nbsp;<strong><a href="https://gist.github.com/dotps1/62f8f608bdfec5d08552">Register the Sophos Web Intelligence Service</a></strong>
            - Use this to combat the <a href="https://www.sophos.com/en-us/support/knowledgebase/121905.aspx">bug</a> in the Sophos Endpoint Protection versions less then 10.6.2
            where the Sophos Web Intelligence Service is missing.
		</h5>
    </div>
  </div>
</div>
</section>